In [9]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv('/content/audi.csv')

In [11]:
df.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB

In [13]:
X=df.drop(columns='price',axis=1)
y=df['price']

In [15]:
from sklearn.preprocessing import LabelEncoder

lbl1=LabelEncoder()
lbl2=LabelEncoder()
lbl3=LabelEncoder()
X['transmission']=lbl1.fit_transform(X['transmission'])
X['model']=lbl2.fit_transform(X['model'])
X['fuelType']=lbl3.fit_transform(X['fuelType'])

In [16]:
X

       model  year  transmission  mileage  fuelType  tax   mpg  engineSize
0          0  2017             1    15735         2  150  55.4         1.4
1          5  2016             0    36203         0   20  64.2         2.0
2          0  2016             1    29946         2   30  55.4         1.4
3          3  2017             0    25952         0  145  67.3         2.0
4          2  2019             1     1998         2  145  49.6         1.0
...      ...   ...           ...      ...       ...  ...   ...         ...
10663      2  2020             1     4018         2  145  49.6         1.0
10664      2  2020             1     1978         2  150  49.6         1.0
10665      2  2020             1      609         2  150  49.6         1.0
10666      9  2017             0     8646         2  150  47.9         1.4
10667      9  2016             1    11855         2  150  47.9         1.4

[10668 rows x 8 columns]

In [17]:
X=X.values

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)

In [19]:
X

array([[-1.12354352, -0.04644979, -0.10834719, ...,  0.35714729,
         0.35755001, -0.88021837],
       [-0.16083109, -0.50783377, -1.41734817, ..., -1.57832278,
         1.03713001,  0.11492465],
       [-1.12354352, -0.50783377, -0.10834719, ..., -1.42944047,
         0.35755001, -0.88021837],
       ...,
       [-0.73845855,  1.33770214, -0.10834719, ...,  0.35714729,
        -0.09035499, -1.54364705],
       [ 0.60933885, -0.04644979, -1.41734817, ...,  0.35714729,
        -0.22163749, -0.88021837],
       [ 0.60933885, -0.50783377, -0.10834719, ...,  0.35714729,
        -0.22163749, -0.88021837]])

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=3)

In [22]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8534, 8)
(2134, 8)
(8534,)
(2134,)

In [23]:
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor()
reg.fit(X_train,y_train)

RandomForestRegressor()

In [25]:
y_pred=reg.predict(X_test)

In [26]:
y_pred

array([26585.55      ,  7158.48      , 34341.12557998, ...,
       31788.51      , 31197.        , 21524.54      ])

In [27]:
from sklearn.metrics import r2_score
acc = r2_score(y_test,y_pred)

In [28]:
acc

0.962979150471483

In [29]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test,y_pred)

In [30]:
mae

1569.5518894654103

In [35]:
y_pred = np.reshape(y_pred,(-1,1))

In [36]:
mydata=np.concatenate((y_test,y_pred), axis=1)
dataframe = pd.DataFrame(mydata,columns=['Real Price','Predicted Price'])

AxisError: ignored